@model BusinessObjects.Models.Account
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li><a href="farmer.html">Quản lý hộp tác xã</a></li>
            <li class="active">@Model.Fullname</li>
        </ol>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Hộp tác xã: @Model.Email</h1>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-8">

                        <form asp-action="EditCooperative">
                            <input type="hidden" asp-for="IdAcc" />
                            <input type="hidden" asp-for="Status" />
                            <input type="hidden" asp-for="Role" />
                            <input type="hidden" asp-for="Password" />
                            <input type="hidden" asp-for="DateJoin" />
                            <input type="hidden" asp-for="IdWard" />
                            <input type="hidden" asp-for="Email" />
                            <input type="hidden" asp-for="Username" />

                            <div class="form-group">
                                <label>Họ & Tên</label>
                                <input asp-for="Fullname" name="Fullname" required class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="Email" name="Email" required type="text" class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label>Tên đăng nhập</label>
                                <input asp-for="Username" name="UserName" required type="text" class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input asp-for="Phone" name="Phone" required type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Sinh nhật</label>
                                <input asp-for="Birthday" name="Birthday" required type="date" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input asp-for="Address" name="Address" required type="text" class="form-control">
                            </div>

                            <button type="submit" name="sbm" class="btn btn-primary">Cập nhật</button>
                          

                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div>