@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

#sidebar-toggle {
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-menu {
    padding: 1rem;
}

.sidebar li {
    margin-bottom: 1.5rem;
}

.sidebar a {
    color: #fff;
    font-size: .8rem;
}

    .sidebar a span:last-child {
        padding-left: .6rem;
    }

#sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: none;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header,
    #sidebar-toggle:checked ~ .sidebar li {
        display: flex;
        justify-content: center;
    }

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
}

    #sidebar-toggle:checked ~ .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}



.search-wrapper {
    display: flex;
    align-items: center;
}

    .search-wrapper input {
        border: 0;
        outline: 0;
        padding: 1rem;
        height: 38px;
    }

.social-icons {
    display: flex;
    align-items: center;
}

    .social-icons span,
    .social-icons div {
        margin-left: 1.2rem;
    }

    .social-icons div {
        height: 38px;
        width: 38px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(img/1.jpg);
        border-radius: 50%;
    }

main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 60vh;
    padding: 1rem 3rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
}

.card-single {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

    .card-body span {
        font-size: 1.5rem;
        color: #777;
        padding-right: 1.4rem;
    }

    .card-body h5 {
        color: var(--text-grey);
        font-size: 1rem;
    }

    .card-body h4 {
        color: var(--color-dark);
        font-size: 1.1rem;
        margin-top: .2rem;
    }

.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}

    .card-footer a {
        color: var(--main-color);
    }

.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
    background: #fff;
    border-radius: 7px;
}

    .activity-card h3 {
        color: var(--text-grey);
        margin: 1rem;
    }

    .activity-card table {
        width: 100%;
        border-collapse: collapse;
    }

    .activity-card thead {
        background: #efefef;
        text-align: left;
    }

th, td {
    font-size: .9rem;
    padding: 1rem 1rem;
    color: var(--color-dark);
}

td {
    font-size: .8rem;
}

tbody tr:nth-child(even) {
    background: #f9fafc;
}

.badge {
    padding: .2rem 1rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: .7rem;
}

    .badge.success {
        background: #DEF7EC;
        color: var(--main-color);
    }

    .badge.warning {
        background: #F0F6B2;
        color: orange;
    }

.td-team {
    display: flex;
    align-items: center;
}

.img-1,
.img-2,
.img-3 {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -15px;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url(img/1.jpg);
}

.img-2 {
    background-image: url(img/2.jpg);
}

.img-3 {
    background-image: url(img/3.jpeg);
}

.summary-card {
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.summary-single {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

    .summary-single span {
        font-size: 1.5rem;
        color: #777;
        padding-right: 1rem;
    }

    .summary-single h5 {
        color: var(--main-color);
        font-size: 1.1rem;
        margin-bottom: 0rem !important;
    }

    .summary-single small {
        font-weight: 700;
        color: var(--text-grey);
    }

.bday-flex {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.bday-card {
    padding: 1rem;
}

.bday-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/3.jpeg);
    margin-right: .7rem;
}

.text-center {
    text-align: center;
}

    .text-center button {
        background: var(--main-color);
        color: #fff;
        border: 1px solid var(--main-color);
        border-radius: 4px;
        padding: .4rem 1rem;
    }

.table-responsive {
    overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 60px;
        z-index: 150;
    }

        .sidebar .sidebar-header h3 span,
        .sidebar li span:last-child {
            display: none;
        }

        .sidebar .sidebar-header,
        .sidebar li {
            display: flex;
            justify-content: center;
        }

    .main-content {
        margin-left: 60px;
    }

        .main-content header {
            left: 60px;
            width: calc(100% - 60px);
        }

    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }

        #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
        #sidebar-toggle:checked ~ .sidebar li span:last-child {
            display: inline;
        }

        #sidebar-toggle:checked ~ .sidebar .sidebar-header {
            display: flex;
            justify-content: space-between;
        }

        #sidebar-toggle:checked ~ .sidebar li {
            display: block;
        }

    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

        #sidebar-toggle:checked ~ .main-content header {
            left: 60px;
        }
}

@media only screen and (max-width: 860px) {
    .dash-cards {
        grid-template-columns: repeat(2,1fr);
    }

    .card-single {
        margin-bottom: 1rem;
    }

    .activity-grid {
        display: block;
    }

    .summary {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* ------------------------------------- */
.wrapper2 {
    max-width: 1000px;
    margin: 0 auto;
}

    .wrapper2 h1 {
        padding: 20px 0;
        text-align: center;
        text-transform: uppercase;
        color: #3a71a9;
        font-weight: 700;
    }

.project {
    display: flex;
}

.shop {
    flex: 75%;
}

.box {
    display: flex;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
}

    .box:hover {
        border: none;
        transform: scale(1.01);
    }

    .box img {
        width: 300px;
        height: 250px;
        object-fit: cover;
    }

.content {
    padding: 20px;
    width: 100%;
    position: relative;
}

    .content ul li {
        margin: 12px;
        font-weight: 600;
    }

.btn-detail {
    position: absolute;
    bottom: 12px;
    padding: 5px 12px;
    background-color: #3a71a9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 16px;
    right: 125px;
}

    .btn-detail:hover {
        background-color: #76bfb6;
        color: #fff;
        font-weight: 600;
    }


.btn-remove {
    position: absolute;
    bottom: 12px;
    right: 20px;
    padding: 5px 25px;
    background-color: #3a71a9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

    .btn-remove:hover {
        background-color: #76bfb6;
        color: #fff;
        font-weight: 600;
    }

.unit p {
    margin-bottom: 20px;
}

.btn-area i {
    margin-right: 5px;
}

.right-bar {
    flex: 25%;
    margin-left: 30px;
    padding: 20px;
    height: 50%;
    border-radius: 12px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

    .right-bar hr {
        margin-bottom: 25px;
    }

    .right-bar p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .right-bar a {
        background-color: #76bfb6;
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
        text-align: center;
        height: 40px;
        width: 100%;
        line-height: 40px;
        font-weight: 300;
        border: 1px solid #327a81;
        border-radius: 8px;
    }



        .right-bar a:hover {
            background-color: #3972a7;
        }

@media screen and (max-width: 700px) {
    .content h3 {
        margin-bottom: 15px;
    }

    .content h4 {
        margin-bottom: 20px;
    }

    .btn2 {
        display: none;
    }

    .box {
        height: 150px;
    }

        .box img {
            height: 150px;
            width: 250px;
        }
}

@media screen and (max-width: 900px) {
    .project {
        flex-direction: column;
    }

    .right-bar {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1250px) {
    .wrapper2 {
        max-width: 95%;
    }
}

/*------------------------------------------------------------------------------*/
form.example .search_user {
    padding: 4px;
    font-size: 16px;
    float: left;
    width: 85%;
    border-style: none;
}

form.example .btn_search {
    width: 15%;
    padding: 4px;
    color: #000000;
    font-size: 16px;
    border-style: none;
}

    form.example .btn_search:hover {
        background: #fc0101;
    }

form.example::after {
    clear: both;
    display: table;
}

/*-------------------------------------------------------------------------*/

/* The container */
.container_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container_checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .container_checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container_checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container_checkbox input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .container_checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container_checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container_checkbox .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

/*-------------------------------------------------------------------------------------------------*/



.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top: 16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}

    .btn--primary:hover {
        background: #f00;
    }

    .btn--primary:active {
        background: #f00;
        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
    }

.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}

@media (max-width: 768px) {
    footer {
        padding: 40px;
    }

        footer .container {
            flex-direction: column;
        }

            footer .container .noi-dung {
                margin-right: 0;
                margin-bottom: 40px;
            }

        footer .container,
        .noi-dung.about,
        .links,
        .contact {
            width: 100%;
        }
}
/* The container */
.container_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container_checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .container_checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container_checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container_checkbox input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .container_checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container_checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container_checkbox .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
