.clearfix_index button {

  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}



h2
{

  font-weight: 500;
}




/* Float cancel and delete buttons and add an equal width */
.clearfix_index .cancelbtn_index, .deletebtn_index {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.clearfix_index .cancelbtn_index {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.clearfix_index .deletebtn_index {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container_modal_index {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal_index {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal_index .modal-content__index {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius:12px
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.modal_index .close_index {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close_index:hover,
.close_index:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix_index::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}