.text-center {

   margin-top: 20px;
  
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
  
    box-shadow: none;
    border: none
    
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
  
    box-shadow: none
}

.profile-button:active {
    
    box-shadow: none
}

.back:hover {
   
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
