* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../images/Marseille_marcovdz.jpg);
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 650px;
    background: white;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px rgb(192,192,192);
}

.form-title {
    font-size: 26px;
    font-weight: 600px;
    text-align: center;
    padding-bottom: 6px;
    color: Black;
    text-shadow: 2px 2px 2px white;
    border-bottom: solid 1px black;
}

.main-user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n) {
    justify-self: end;
}

.user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

    .user-input-box label {
        width: 95%;
        color: black;
        font-size: 20px;
        font-weight: 400;
        margin: 5px 0;
    }

    .user-input-box input {
        height: 40px;
        width: 95%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
    }


.user-input-box3 {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    padding-bottom: 15px;
}

    .user-input-box3 label {
        width: 95%;
        color: black;
        font-size: 20px;
        font-weight: 400;
        margin: 5px 0;
        margin-top: 10px;
    }

    .user-input-box3 select {
        height: 40px;
        width: 95%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
    }
/*----------------------------------------------------------------*/
.form-submit-btn input {
    cursor: pointer;
}

.form-submit-btn {
    margin-top: 20px;
}

    .form-submit-btn input {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-right: 500px;
        font-size: 20px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        color: aliceblue;
        background: rgb(0,128,128)
    }
