@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Mọi người nói về phần mềm</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide about_Carousel " data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="test_box">
                                                <i><img src="~/images/trongan.jpg" alt="#" /></i>
                                                <h4>Anh Lý Huỳnh Trọng Ân</h4>
                                                <p>
                                                    Đây là một phần mềm cực kì cần thiết cho Trang trại của tôi. Tôi không cần làm
                                                    phiền nhiều tới bạn quản lý và kỹ thuật viên. Tôi có thể theo dõi hết tình
                                                    hình hoạt động của trang trại bất cứ lúc nào.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="test_box">
                                                <i><img src="~/images/tri.jpg" alt="#" /></i>
                                                <h4>Anh Lê Minh Trí</h4>
                                                <p>
                                                    Mình có chung vốn mở vài trang trại nuôi cá tra với những người bạn. Phần mềm
                                                    giúp việc hoạt động sản xuất, và kế toán trở lên dễ dàng và minh bạch hơn.
                                                    Khiến công việc của mình ngày càng thuận lợi.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="test_box">
                                                <i><img src="~/images/phu.jpg" alt="#" /></i>
                                                <h4>ANH Lê Gia Minh Phú</h4>
                                                <p>
                                                    Thay vì ghi chép vào sổ thì mình ghi vào phần mềm, có vài anh em làm với nhau
                                                    mọi thứ rõ ràng, tiện hơn mình làm theo cách truyền thống rất nhiều.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>