@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- choose  section -->
      <div class="choose ">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="titlepage">
                     <h2>Nhật Ký</h2>
                     <p>Phần mềm 2TAPQ có các phiên bản trên máy tính cá nhân, máy tính bảng, điện thoại thông minh, tivi
                        thông minh hoàn toàn giúp việc quản lý trang trại trở lên dễ dàng, tiện dụng và tiết kiệm chi phí
                        trong quá trình quản lý. </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row d_flex">
              <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
               <div class="padding_with">
               <div class="row">
                  <div class="col-md-6 padding_bottom">
                     <div class="choose_box">
                        <i><img src="~/images/icon1.png" alt="#"/></i>
                        <div class="choose_text">
                           <h3>Dịch vụ</h3>
                           <p>Cung cấp cho người dùng hệ thống gần gũi và giao diện dễ dùng cho hợp tác xã và người
                              dùng</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 padding_bottom">
                     <div class="choose_box">
                        <i><img src="~/images/icon1.png" alt="#"/></i>
                        <div class="choose_text">
                           <h3>Thân thiện môi trường</h3>
                              <p>Dựa vào tiêu chuẩn VietGap người chăn nuôi sẽ chăn nuôi không gây ảnh hưởng đến môi
                                 trường</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 padding_bottom2">
                     <div class="choose_box">
                        <i><img src="~/images/icon1.png" alt="#"/></i>
                        <div class="choose_text">
                           <h3>Chất lượng và độ tin cậy</h3>
                              <p>Thông qua hợp tác xã sẽ đảm bảo cho việc chăn nuôi theo tiêu chuẩn VietGap</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="choose_box">
                        <i><img src="~/images/icon1.png" alt="#"/></i>
                        <div class="choose_text">
                           <h3>Nông dân chuyên nghiệp</h3>
                              <p>Người chăn nuôi sẽ thuận tiện trong việc chăn nuôi để theo dõi ao nuôi và nhân viên của
                                 mình thông qua hệ thống</p>
                        </div>
                     </div>
                  </div>
               </div>

               </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
               <div class="choose_img">
                  <figure><img src="~/images/fish.jpg" alt="#"/></figure>
               </div>
            </div>
         </div>
      </div>
      </div>
   