
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<section class="banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-bg">
                    <h1>FARMING 2TAPQ</h1>
                    <p>
                        Đây là phần mềm chăn nuôi thủy sản sẽ được quản lí theo tiêu chuẩn VietGAP. Phần mềm này sẽ giúp ít cho bạn
                    </p>
                    <a href="#">Discover</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- three_box -->
<div class="three_box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box_text">
                    <figure><img src="~/images/catra.jpg" alt="#" width="500px" height="100px" /></figure>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box_text">
                    <figure><img src="~/images/catre.jpg" alt="#" width="500px" height="100px" /></figure>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box_text">
                    <figure><img src="~/images/cachep.jpeg" alt="#" width="500px" height="800px" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- three_box -->
<!-- hottest -->
<div class="hottest">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="titlepage">
                    <h2>Điểm Hấp Dẫn Dành Cho <br>Người Chăn Nuôi</h2>
                </div>
            </div>
            <div class="col-md-7">
                <div class="hottest_box">
                    <p>
                        Không giống như những phần mềm khác. Phần mềm 2TAPQ được thiết kế và xây dựng lên từ trang trại
                        chăn nuôi của chúng tôi cùng rất nhiều những trang trại khác khi chúng tôi hỗ trợ kĩ thuật.<br>

                        Những cách quản lý trang trại truyền thống đã làm chúng tôi thực sự mệt mỏi chính vì vậy chúng tôi
                        quyết định phát triển phần mềm quản lý trang trại 2TAPQ và sau đó tất cả mọi thứ đã dễ dàng với
                        chúng tôi hơn rất nhiều.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
  
<!-- end hottest -->
<!-- choose  section -->
<div class="choose ">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="titlepage">
                    <h2>Những điểm nổi bật</h2>
                    <p>
                        Phần mềm 2TAPQ có các phiên bản trên máy tính cá nhân, máy tính bảng, điện thoại thông minh, tivi
                        thông minh hoàn toàn giúp việc quản lý trang trại trở lên dễ dàng, tiện dụng và tiết kiệm chi phí
                        trong quá trình quản lý.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="padding_with">
                    <div class="row">
                        <div class="col-md-6 padding_bottom">
                            <div class="choose_box">
                                <i><img src="~/images/icon1.png" alt="#" /></i>
                                <div class="choose_text">
                                    <h3>Dịch vụ</h3>
                                    <p>
                                        Cung cấp cho người dùng hệ thống gần gũi và giao diện dễ dùng cho hợp tác xã và người
                                        dùng
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding_bottom">
                            <div class="choose_box">
                                <i><img src="~/images/icon1.png" alt="#" /></i>
                                <div class="choose_text">
                                    <h3>Thân thiện môi trường</h3>
                                    <p>
                                        Dựa vào tiêu chuẩn VietGap người chăn nuôi sẽ chăn nuôi không gây ảnh hưởng đến môi
                                        trường
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding_bottom2">
                            <div class="choose_box">
                                <i><img src="~/images/icon1.png" alt="#" /></i>
                                <div class="choose_text">
                                    <h3>Chất lượng và độ tin cậy</h3>
                                    <p>Thông qua hợp tác xã sẽ đảm bảo cho việc chăn nuôi theo tiêu chuẩn VietGap</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="choose_box">
                                <i><img src="~/images/icon4.png" alt="#" /></i>
                                <div class="choose_text">
                                    <h3>Nông dân chuyên nghiệp</h3>
                                    <p>
                                        Người chăn nuôi sẽ thuận tiện trong việc chăn nuôi để theo dõi ao nuôi và nhân viên của
                                        mình thông qua hệ thống
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="choose_img">
                    <figure><img src="~/images/fish.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <a class="read_more" href="#">Read More</a>
            </div>
        </div>
    </div>
</div>
   </div>
<!-- end choose  section -->
<!-- product  section -->
<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="titlepage">
                    <h2>Dịch vụ</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_left0">
                <div class="product_box">
                    <figure><img src="~/images/fm.jpg" alt="#" /></figure>
                    <h3 class="black"> QUẢN LÝ TÀI CHÍNH</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                <div class="product_box">
                    <figure><img src="~/images/fm2.jpg" alt="#" /></figure>
                    <h3>QUẢN LÝ NHÂN CÔNG</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 padding_right0">
                <div class="product_box">
                    <figure><img src="~/images/htx.jpg" alt="#" /></figure>
                    <h3>LIÊN KẾT HTX</h3>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding_left0">
                <div class="product_box">
                    <figure><img src="~/images/fishfarm.jpg" alt="#" width="100px" /></figure>
                    <h3>QUẢN LÝ KHU VỰC CHĂN NUÔI</h3>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 padding_right0">
                <div class="product_box">
                    <figure><img src="~/images/fish.jpg" alt="#" /></figure>
                    <h3>THEO DÕI AO NUÔI</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end product  section -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Mọi người nói về phần mềm</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide about_Carousel " data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="test_box">
                                                <i><img src="~/images/trongan.jpg" alt="#" /></i>
                                                <h4>Anh Lý Huỳnh Trọng Ân</h4>
                                                <p>
                                                    Đây là một phần mềm cực kì cần thiết cho Trang trại của tôi. Tôi không cần làm
                                                    phiền nhiều tới bạn quản lý và kỹ thuật viên. Tôi có thể theo dõi hết tình
                                                    hình hoạt động của trang trại bất cứ lúc nào.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="test_box">
                                                <i><img src="~/images/tri.jpg" alt="#" /></i>
                                                <h4>Anh Lê Minh Trí</h4>
                                                <p>
                                                    Mình có chung vốn mở vài trang trại nuôi cá tra với những người bạn. Phần mềm
                                                    giúp việc hoạt động sản xuất, và kế toán trở lên dễ dàng và minh bạch hơn.
                                                    Khiến công việc của mình ngày càng thuận lợi.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="test_box">
                                                <i><img src="~/images/phu.jpg" alt="#" /></i>
                                                <h4>Anh Lê Gia Minh Phú</h4>
                                                <p>
                                                    Thay vì ghi chép vào sổ thì mình ghi vào phần mềm, có vài anh em làm với nhau
                                                    mọi thứ rõ ràng, tiện hơn mình làm theo cách truyền thống rất nhiều.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->