@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="product">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="titlepage">
                  <h2>Dịch vụ</h2>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_left0">
               <div class="product_box">
                  <figure><img src="~/images/fm.jpg" alt="#" /></figure>
                  <h3 class="black"> QUẢN LÝ TÀI CHÍNH</h3>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
               <div class="product_box">
                  <figure><img src="~/images/fm2.jpg" alt="#" /></figure>
                  <h3>QUẢN LÝ NHÂN CÔNG</h3>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 padding_right0">
               <div class="product_box">
                  <figure><img src="~/images/htx.jpg" alt="#" /></figure>
                  <h3>LIÊN KẾT HTX</h3>
               </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding_left0">
               <div class="product_box">
                  <figure><img src="~/images/fishfarm.jpg" alt="#" width="100px" /></figure>
                  <h3>QUẢN LÝ KHU VỰC CHĂN NUÔI</h3>
               </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 padding_right0">
               <div class="product_box">
                  <figure><img src="~/images/fish.jpg" alt="#" /></figure>
                  <h3>THEO DÕI AO NUÔI</h3>
               </div>
            </div>
         </div>
      </div>
   </div>