<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>HomePage</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <LINK REL="SHORTCUT ICON"  HREF="~/images/logo.jpg">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/cssfarm/bootstrap4.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/stylehome.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">

</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.html"><img src="~/images/logo.jpg" alt="#"  /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-action="Index"> Trang Chủ </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="About">Giới thiệu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="Services">Dịch vụ </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="Blog">Nhật ký</a>
                                    </li>
                                    
                                    
                                    <li class=" d_none get_btn">
                                        <a asp-action="login" asp-controller="Account">Đăng nhập</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer id="contact">
        <div class="footer">
            <div class="container">
                <div class="row">
                    

                    <div class="col-md-3 border_right">
                        <ul class="location_icon">
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Xuân Khánh, Ninh Kiều, Cần Thơ</li>
                            <li>
                                <a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a> +0364321423
                            </li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>2tapq@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-md-3 border_right">
                        <h3>Thông tin liên lạc</h3>
                        <ul class="link">
                            <li><a href="https://www.facebook.com/an.trong.7393">Trọng Ân </a></li>
                            <li><a href="https://www.facebook.com/phule.2103.00/">Phú Lê</a> </li>
                            <li><a href="https://www.facebook.com/lmtriiii">Minh Trí</a></li>
                            <li><a href="https://www.facebook.com/profile.php?id=100046501697991">Hữu Toàn </a> </li>
                            <li><a href="https://www.facebook.com/profile.php?id=100007822087391"> Nguyễn Quang</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 border_right">
                        <h3>Menu</h3>
                        <ul class="link">
                            <li><a asp-action="Index">Trang chủ</a></li>
                            <li><a  asp-action="About">Giới Thiệu</a></li>
                            <li><a asp-action="Services">Dịch vụ</a></li>
                            <li><a asp-action="Blog">Nhật ký</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ">
                        <h3>Chúng tôi sẽ giúp ích cho bạn</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>

</html>